<div class="footer">
    <div class="footer-container">
        <div class="footer-top">
            <div class="footer-col">
                <h4>Về CryptoVest</h4>
                <ul>
                    <li><a href="/about">Giới thiệu</a></li>
                    <li><a href="/team">Đội ngũ</a></li>
                    <li><a href="/career">Tuyển dụng</a></li>
                    <li><a href="/contact">Liên hệ</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Sản phẩm</h4>
                <ul>
                    <li><a href="/trading">Giao dịch</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/market">Thị trường</a></li>
                    <li><a href="https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd">API</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Hỗ trợ</h4>
                <ul>
                    <li><a href="/help">Trung tâm trợ giúp</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/terms">Điều khoản</a></li>
                    <li><a href="/privacy">Bảo mật</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Theo dõi</h4>
                <div class="social-links">
                    <a href="/facebook"><i class="fa-brands fa-facebook"></i></a>
                    <a href="/twitter"><i class="fa-brands fa-twitter"></i></a>
                    <a href="/telegram"><i class="fa-brands fa-telegram"></i></a>
                    <a href="/youtube"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; TQ. All rights reserved.</p>
        </div>
    </div>
</div>